.question {
    margin-top: 248px;
    width: 60vw;
}

.quiz_page {
    display: grid;
    justify-content: center;
    align-self: center;
}

.select_question {
    border: unset;
    align-self: center;

    display: flex;
    flex-direction: column;

    padding-top: 40px;

    gap: 12px;
}

.close_button {
    appearance: none;
    border: none;

    position: absolute;
    right: 100px;
    top: 112px;

    background-image: url("/close.svg");
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-position: center;
}

.input_question {
    background-color: var(--quiz-input-bg-color);
    border: 2px solid var(--quiz-input-border-color);
    border-radius: 10px;

    display: flex;
    place-content: center;

    text-align: center;

    padding: 15px 0;

    margin: 32px 76px 0;
}

.input_question::placeholder {
    color: var(--placeholder-color);
    place-self: center;

    margin: 76px 0;
}

.table_question {
    margin: 32px 76px 0;
}

@media screen and (max-width: 460px) {
    .quiz_page {
        display: flex;
        justify-content: unset;
    }

    .input_question {
        margin: 27px 32px 0;
    }
}