.picker {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    margin-left: 95px;
}

.online_picker {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid var(--text-active);
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 228px;
    height: 48px;
}

.online_picker > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    transition: background-color 300ms linear;
}

.online_picker > .active {
    background: var(--text-active);
    border-radius: 10px 10px 0 0;
    border: 1px solid var(--text-active);
    color: white;
}