.spacing_left {
    margin-left: 138px;
}

.groups {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 138px;
    margin-right: 138px;
    gap: 20px
}

@media screen and (max-width: 1050px) {
    .groups {
       grid-template-columns: 1fr;
    }
}