.banner {
    background-color: var(--text-active);
    display: flex;
    color: white;

    height: 365px;
    z-index: 0;
    padding-left: 138px;
}

.banner > * {
    z-index: 3;
}

.banner_decoration {
    position: absolute;
    right: 0;
    z-index: 1;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_row > p {
    margin: 0;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.inverse_color_text_upper {
    background-color: white;
    color: var(--text-active);
    border: 1px solid #FFFFFF;
    border-radius: 10px 10px 0 10px;

    font: inherit;

    padding: 5px;
    margin-left: 5px;
}

.inverse_color_text_lower {
    background-color: white;
    color: var(--text-active);
    border: 1px solid #FFFFFF;
    border-radius: 0 10px 10px 10px;

    font: inherit;

    padding: 5px;
    margin-left: 5px;
}

.big_text {
    font-size: var(--big-banner-font);
    font-weight: 700;
    line-height: 48px;
}

.banner_flavour_text {
    margin-top: 58px;
}

.babushka {
    position: absolute;
    width: 473px;
    height: 343px;
    right: 50px;
    margin-top: 22px;
    z-index: 2;
}

.starperi {
    position: fixed;
    right: 0;
    margin-top: -44px;
    z-index: 2;
}

.new_starperi {
    position: absolute;
    height: 343px;
    right: 0;
    margin-top: 23px;
    z-index: 2;
}

.how_does_it_work {
    font-size: var(--normal-font);
    line-height: 22px;
    text-decoration-line: underline;
    color: white;
    font-weight: 400;
    margin-top: 46px;
    margin-left: 19px;
    margin-bottom: 0;
}