.banner {
    background-color: var(--text-active);
    display: flex;
    color: white;

    height: 365px;
    z-index: 0;
    padding-left: 138px;
}

.banner > * {
    z-index: 3;
}

.banner_decoration {
    position: absolute;
    right: 0;
    z-index: 1;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_row > p {
    margin: 0;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.inverse_color_text_upper {
    background-color: white;
    color: var(--text-active);
    border: 1px solid #FFFFFF;
    border-radius: 10px 10px 0 10px;

    font: inherit;

    padding: 5px;
    margin-left: 5px;
}

.inverse_color_text_lower {
    background-color: white;
    color: var(--text-active);
    border: 1px solid #FFFFFF;
    border-radius: 0 10px 10px 10px;

    font: inherit;

    padding: 5px;
    margin-left: 5px;
}

.big_text {
    font-size: var(--big-banner-font);
    font-weight: 700;
    line-height: 48px;
}

.banner_flavour_text {
    margin-top: 58px;
}

.babushka {
    position: absolute;
    width: 473px;
    height: 343px;
    right: 50px;
    margin-top: 22px;
    z-index: 2;
}

.starperi {
    position: fixed;
    right: 0;
    margin-top: -44px;
    z-index: 2;
}

.new_starperi {
    position: absolute;
    height: 343px;
    right: 0;
    margin-top: 23px;
    z-index: 2;
}

.how_does_it_work {
    font-size: var(--normal-font);
    line-height: 22px;
    text-decoration-line: underline;
    color: white;
    font-weight: 400;
    margin-top: 46px;
    margin-left: 19px;
    margin-bottom: 0;

    background-color: transparent;
    border: none;
}

.how_does_it_work_dialog {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.how_does_it_work_dialog h1 {
    color: var(--primary-green);
    margin: 0 0 20px;
}

.how_does_it_work_dialog input {
    background-color: var(--primary-white);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 24px;
    gap: 10px;

    text-align: center;

    margin: 12px 97px;
}

.how_does_it_work_dialog input::placeholder {
    text-align: center;
}

.how_does_it_work_dialog button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 24px;
    gap: 10px;
}