.group_card {
    background: #F6F6F6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

body[data-blind="true"] .group_card {
    outline: 2px solid var(--text-active);
}

body[data-blind="false"] .group_card {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.preview {
    border-radius: 10px;
    margin: 18px 18px 0;
    width: calc(100% - 18px * 2);
}

.title {
    color: #006739;

    margin-top: 4px;
    margin-left: 28px;
    margin-bottom: 0;
}

.tag_line {
    display: flex;
    flex-direction: row;
    margin-left: 28px;
    gap: 12px;
    margin-top: 12px;
}

.tag {
    background-color: rgba(151, 223, 191, 0.5);;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    font-weight: 400;
    line-height: 19px;
    padding: 4px 12px;
}

body[data-blind="false"] .tag {
    color: #008044;
}

.index {
    background-color: rgba(151, 223, 191, 0.5);;
    border-radius: 10px;
    width: max-content;
    padding: 5px 12px;
    margin: 0;
}

.address_place {
    display: flex;
    flex-direction: column;
    margin-left: 28px;
}

.address_string {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    margin-top: 16px;
}

.address_string > p {
    margin-bottom: 0;
    margin-top: 0;
}

.metro_string {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    line-height: 22px;
    color: var(--text-active);
    gap: 12px;

    margin-top: 0;
    margin-left: 30px;
}

.metro_string > p {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
}

.date_place {
    display: flex;
    flex-direction: row;
    margin-left: 28px;
    gap: 12px;
}

.dates {
    display: flex;
    flex-direction: column;
}

.date {
    line-height: 22px;
    margin: 0;
}

.button_row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 24px 28px 12px;
}

.more_button {
    border: 2px solid var(--text-active);
    border-radius: 10px;
    color: var(--text-active);

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    height: 48px;
}

body[data-blind="false"] .more_button {
    border: none;
}

body[data-blind="true"] .active {
    background-color: var(--mint);
}

body[data-blind="false"] .active {
    background-color: #CAEEDE;
}

.signup_button {
    border-radius: 10px;
    border: 0;
    color: white;
    background-color: var(--text-active);
    height: 48px;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.button_row > button:hover {
    text-decoration: underline;
}

.signDialog {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.signFlower {
    position: absolute;
    --size: 100px;
    right: calc(var(--size) / 2 * -1 + 15px);
    top: calc(var(--size) / 2 * -1 + 12px);
    /*transform: rotate(20.01deg);*/
}

.signTitle {
    color: var(--primary-green);
    margin-top: 0;
    margin-bottom: 36px;
}

.signButton {
    margin-top: 12px !important;
    padding: 11px 0;
}

.description_box {
    background: var(--secondary-green);
    border: 2px solid var(--primary-green);
    border-radius: 10px;

    margin: 0 28px 16px;
    padding: 16px 30px;
}

body[data-blind="false"] .description_box {
    border: none;
    background: #CAEEDE;
}

.id {
    margin-top: 24px;
    margin-left: 28px;
    color: var(--placeholder-color);
}

.flair_tags {
    margin-left: 28px;
    margin-top: 8px;
    margin-bottom: 25px;

    display: flex;
    flex-direction: row;
    gap: 12px;
}

@media only screen and (max-width: 680px) {
    .tag_line {
        display: none;
    }

    .metro_string {
        display: grid;
        grid-template-columns: 23px 1fr;
    }

    .metro_string p:nth-of-type(2) {
        display: none;
    }

    .metro_string p:last-of-type {
        grid-column: 1 / -1;
    }

    .flair_tags {
        flex-direction: column;
    }
}