:root {
    --primary-green: #006739;
    --primary-white: #F6F6F6;
    --primary-black: #151516;
    --secondary-green: #97DFBF;
    --primary-red: #CC2222;
    --secondary-red: #FFACAC;
    --slightly-shaded-white: #F6F6F6;
    --white: #FFFFFF;

    --page-height-figma: 1024px;
    --page-width-figma: 1400px;

    --background-color: var(--slightly-shaded-white);

    --text-inactive: var(--primary-black);
    --text-active: var(--primary-green);
    --normal-font: 16px;
    --big-banner-font: 40px;
    --placeholder-color: #494949;
    --mint: var(--secondary-green);

    --button-primary-bg-color: var(--primary-green);
    --button-primary-text-color: var(--primary-white);
    --button-secondary-bg-color: transparent;
    --button-secondary-text-color: var(--primary-green);

    --footer-bg: var(--primary-green);
    --footer-text: var(--white);

    --login-bubble-bg: var(--white);
    --login-title-text: var(--primary-green);
    --login-input-bg: var(--primary-white);
    --login-input-border: var(--primary-green);
    --login-input-label: var(--primary-black);
    --login-submit-bg: var(--primary-green);
    --login-submit-color: var(--primary-white);
    --login-error-text: var(--primary-red);

    --question-outer-ring: var(--primary-green);
    --card-bg-color: var(--primary-white);

    --quiz-input-bg-color: var(--primary-white);
    --quiz-input-border-color: var(--primary-green);
}

* {
    font-family: 'Golos Text', serif;
    font-style: normal;
    font-weight: 400;
    font-size: var(--normal-font);
    line-height: 22px;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

h2 {
    color: var(--primary-green);
    font-weight: 700;
    font-size: 32px;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: unset;
}