.vr {
    display: inline-block;
    align-self: stretch;
    width: 2px;
    height: 100%;
    margin-top: 7px;
    background-color: var(--text-inactive);
    margin-right: 15px;
    margin-left: 15px;
}

.nav {
    display: flex;
    flex-flow: row;
    text-align: center;
    padding: 15px 100px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.nav * {
    margin: 0;
}

.logo_and_text {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    transition: all 1s linear;

    cursor: pointer;
}

.logo_and_text p {
    padding-left: 12px;
    color: var(--text-inactive);
    transition: color 1s linear;
}

.logo_and_text .logo {
    filter: brightness(0) saturate(100);
}

.logo_and_text:hover {
    text-decoration: underline;
}

.active {
    color: var(--text-active) !important;
    text-decoration: underline;
}

.align_end {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: auto;
}

.align_start {
    display: flex;
    align-items: start;
    gap: 24px;
}

.exit_button {
    background-color: transparent;
    border: none;
}