.border_around_card {
    border: 2px solid var(--question-outer-ring);
    border-radius: 20px;
}

.card {
    background-color: var(--card-bg-color);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    display: flex;
    flex-direction: column;

    margin: 20px;
}

.title {
    justify-self: center;
    align-self: center;

    text-align: center;

    margin: 0 115px;
}

.step {
    color: var(--placeholder-color);
    margin: 24px 0 0 24px;
}

.button_row {
    margin: 32px 76px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px;
}

.button_row > button {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

.single_button {
    margin: 32px 42px;

    display: grid;
    grid-template-columns: 1fr;
}

.single_button > button {
    padding-top: 15px;
    padding-bottom: 15px;

    width: 48%;
}

.next {
    align-self: center;
    justify-self: center;

    background-color: var(--button-primary-bg-color);
    color: var(--button-primary-text-color);
    border: 2px solid var(--button-primary-bg-color);
    border-radius: 10px;
}

body[data-blind="true"] .next:disabled {
    background-color: transparent;
    color: var(--button-primary-bg-color);
}

body[data-blind="false"] .next:disabled {
    background-color: #F6F6F6;
    color: var(--button-primary-bg-color);
}

.back {
    align-self: center;
    justify-self: center;

    background-color: var(--button-secondary-bg-color);
    color: var(--button-secondary-text-color);
    border: 2px solid var(--button-primary-bg-color);
    border-radius: 10px;
}

.input[type="radio"] {
    width: calc(var(--normal-font) + 12px);
    height: calc(var(--normal-font) + 12px);
}

.select_option {
    display: flex;
    flex-direction: row;

    gap: 16px;

    padding-top: 0;
}

.table {
    border-collapse: collapse;
}

.table_row {
    border: 2px solid var(--quiz-table-border-color);
    background-color: var(--quiz-table-even-bg-color);
}

.table_row:first-of-type {
    border-radius: 10px 10px 0 0;
}

.table_row:nth-of-type(even) {
    background-color: var(--quiz-table-uneven-bg-color);
}

.table_cell {
    text-align: center;
    vertical-align: middle;
}

@media only screen and (max-width: 470px) {
    .border_around_card {
        border: none;
        width: unset !important;
    }

    .title {
        margin: 0 27px;
    }

    .button_row {
        margin: 32px 27px;
    }
}